apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: bbb-nas-claim
  namespace: greenlight-ns
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi
  storageClassName: ''
  volumeName: bbb-nas
  volumeMode: Filesystem
